@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cor-primaria: #070F2B;
    --cor-secundaria: #FFF6E9;
    --cor-tercearia: #40A2E3;
    --cor-quartenaria: #12639a;
}


body {
    height: 100vh;
    background-color: var(--cor-primaria);
}

header {
    height: 100px;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegationConteiner {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.navegationConteiner>a {
    font-size: 1.5rem;
    font-weight: 600;
    transition: 1s;
}

.navegationConteiner>a:hover {
    text-decoration: underline 4px solid var(--cor-tercearia);
    color: var(--cor-tercearia);
}

.Nav {
    color: var(--cor-quartenaria);
    text-decoration: none;
}

.actived {
    text-decoration: underline 4px solid var(--cor-tercearia);
    color: var(--cor-tercearia);
}


main {
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.leftConteiner {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textConteiner {
    
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 20px;
}

.about {
    text-align: center;
    margin-bottom: 15px;
}

.tittleText {
    height: auto;
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.aboutMeText {
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
}

.boldText {
    color: var(--cor-tercearia);
}

.subText {
    width: auto;
    font-size: 1rem;
}

.buttonsConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px;
    text-align: center;
}

.buttonsConteiner>p {
    font-family: "Krona One", sans-serif;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
}

ion-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.buttonType {

    width: 375px;
    height: 80px;
    padding: 16px;
    border: solid 1px var(--cor-tercearia);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--cor-tercearia);
    text-decoration: none;

    transition: .6s;
}

.buttonType:hover {
    box-shadow: 0 0 20px var(--cor-tercearia);
}

.rightConteiner {
    display: flex;
    justify-content: center;
}
.profilePicture {
    width: 45%;
    border-radius: 16px;
}

.curriculoexp{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.cardConteiner{
    padding: 1rem;
    align-items: center;
}

.tittleConteinerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


footer {
    width: auto;
    height: 100px;
    background-color: var(--cor-tercearia);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>p {
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 600;
}

.IconsFooterConeteiner {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 30px;
}

.logoType {
    color: var(--cor-secundaria);
}

@media only screen and (max-width: 1300px) {
    .navegationConteiner {
        width: 100%;
        margin-top: 100px;
        justify-content: center;
    }

    .navegationConteiner>a {
        padding: 6%;
        font-size: 1.5rem;
        font-weight: 600;
        transition: 1s;
    }



    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 50px;
    }

    .textConteiner {
        width: 100%;
    }

    .leftConteiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 2rem;
    }


    .rightConteiner {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .profilePicture {
        width: 40%;
        border-radius: 8px;
    }

    .aboutMeText {
        width: 100%;
    }

    .cardConteiner {
        width: 100%;
        text-align: initial;
    }



}