@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cor-primaria: #070F2B;
    --cor-secundaria: #9290C3;
    --cor-tercearia: #535C91;
}


body {
    height: 100vh;
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: auto;
    height: 100px;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegationConteiner {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.navegationConteiner>a {
    color: var(--cor-tercearia);
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    transition: 1s;
}

.navegationConteiner>a:hover {
    text-decoration: underline 4px solid var(--cor-tercearia);
}


main {

    color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.leftConteiner {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.textConteiner {
    align-items: center;
}

.tittleText {
    width: 593px;
    height: auto;
    font-family: "Krona One", sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
}

.aboutMeText {
    width: 593px;
    height: auto;
    font-size: 24px;
}

.boldText {
    color: var(--cor-tercearia);
}

.subText {
    width: 593px;
    height: 168px;
    font-size: 24px;
}

.buttonsConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 385px;
    gap: 25px;
}

.buttonsConteiner>p {
    font-family: "Krona One", sans-serif;
    color: var(--cor-secundaria);
    font-size: 24px;
    font-weight: 600;
}

ion-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    color: var(--cor-tercearia);
}

.buttonType {

    width: 375px;
    height: 80px;
    padding: 16px;
    border: solid 1px var(--cor-tercearia);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--cor-tercearia);
    text-decoration: none;

    transition: .6s;
}

.buttonType:hover {
    box-shadow: 0 0 20px var(--cor-tercearia);
}

.profilePicture {
    width: 488px;
    border-radius: 16px;
}

.cardConteiner {
    width: 820px;
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;

}

.tittleConteinerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.tittleConteinerCard>spam {
    font-size: 20px;
}

.tittleCard {
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.textCard {
    font-size: 20px;
}

.couseList {
    list-style: none;
    text-decoration: none;
}


footer {
    width: auto;
    height: 80px;
    background-color: var(--cor-tercearia);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>p {
    color: var(--cor-primaria);
    font-size: 24px;
    font-weight: 600;
}

.IconsFooterConeteiner{
    display: flex;
    flex-direction: row;
    color: var(--cor-primaria);
    margin-top: 10px;
    gap: 30px;
}